.App {
  text-align: center;
}



.App-link {
  color: #61dafb;
}

.myMap {
 border-style: ridge;
 border-width: 5px;
 margin: 0 auto 0 auto;
 

}
body {
background-image: url('./images/123.jpg');
}

.formDiv {
display: inline-block;
}

.reviewModal {
position: absolute;
top: 10%;

}

.header {
  background: rgba(213, 216, 215, 0.247);
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  border-block-start-style: ridge;
  border-block-start-width: 5px;
  border-block-start-color: azure;
  border-block-end-style: ridge;
  border-block-end-width: 10px;
  border-block-end-color: azure;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:  rgba(94, 92, 92, 0.733);
  letter-spacing: .25em;
  font-family: 'Oswald', sans-serif;
}

.card-body{
background: rgba(229, 233, 231, 0.247);;
}
.button {
display: flex;
height: 30px;
font-family: 'Oswald', sans-serif;
}

.trailing {
  position: absolute;
  top: 87%;
 
}
.container {
  
  border: solid black 1px;
  padding: 20px;
  position: absolute;
  background: white;
  top: 10%;
  left: 42%;
  
}
.editer {
 width: 80px;
}


#UncontrolledPopover {
  color:black
}

/* .footer {
  background: rgba(229, 233, 231, 0.247);
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  border-block-start-style: ridge;
  border-block-start-width: 5px;
  border-block-start-color: azure;
  border-block-end-style: ridge;
  border-block-end-width: 10px;
  border-block-end-color: azure;
  position: fixed;
  top: 100%;
  
  
} */